<?xml version="1.0"?>
<config>
	<modules>
		<Eloom_Jadlog>
			<version>##eloom.versao##</version>
		</Eloom_Jadlog>
	</modules>

	<frontend>
		<routers>
			<eloom_jadlog>
				<use>standard</use>
				<args>
					<module>Eloom_Jadlog</module>
					<frontName>eloomjadlog</frontName>
				</args>
			</eloom_jadlog>
		</routers>
		<translate>
			<modules>
				<eloom_jadlog>
					<files>
						<default>Eloom_Jadlog.csv</default>
					</files>
				</eloom_jadlog>
			</modules>
		</translate>
	</frontend>

	<adminhtml>
		<translate>
			<modules>
				<eloom_jadlog>
					<files>
						<default>Eloom_Jadlog.csv</default>
					</files>
				</eloom_jadlog>
			</modules>
		</translate>
	</adminhtml>

	<global>
		<resources>
			<eloom_jadlog_setup>
				<setup>
					<module>Eloom_Jadlog</module>
					<class>Eloom_Jadlog_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</eloom_jadlog_setup>
			<eloom_jadlog_write>
				<connection>
					<use>core_write</use>
				</connection>
			</eloom_jadlog_write>
			<eloom_jadlog_read>
				<connection>
					<use>core_read</use>
				</connection>
			</eloom_jadlog_read>
		</resources>

		<events>
			<sales_order_shipment_save_before>
				<observers>
					<eloom_jadlog_shipmentemail_sales_order_shipment_save_before>
						<type>singleton</type>
						<class>eloom_jadlog/observer</class>
						<method>salesOrderShipmentSaveBefore</method>
					</eloom_jadlog_shipmentemail_sales_order_shipment_save_before>
				</observers>
			</sales_order_shipment_save_before>
			<sales_order_shipment_save_after>
				<observers>
					<eloom_jadlog_shipmentemail_sales_order_shipment_save_after>
						<type>singleton</type>
						<class>eloom_jadlog/observer</class>
						<method>salesOrderShipmentSaveAfter</method>
					</eloom_jadlog_shipmentemail_sales_order_shipment_save_after>
				</observers>
			</sales_order_shipment_save_after>
		</events>

		<helpers>
			<eloom_jadlog>
				<class>Eloom_Jadlog_Helper</class>
			</eloom_jadlog>
		</helpers>
		<blocks>
			<eloom_jadlog>
				<class>Eloom_Jadlog_Block</class>
			</eloom_jadlog>
		</blocks>
		<models>
			<eloom_jadlog>
				<class>Eloom_Jadlog_Model</class>
			</eloom_jadlog>
		</models>
	</global>
	<default>
		<carriers>
			<eloom_jadlog>
				<active>0</active>
				<model>eloom_jadlog/carrier</model>
				<title>Jadlog</title>
				<showmethod>1</showmethod>
				<servico_codigo>jadlog_package</servico_codigo>
				<servico_gratis>N</servico_gratis>
				<dimensoes_opcao>gr</dimensoes_opcao>
				<dimensoes_altura>2</dimensoes_altura>
				<dimensoes_largura>11</dimensoes_largura>
				<dimensoes_comprimento>16</dimensoes_comprimento>
				<prazos_entrega>1</prazos_entrega>
				<prazos_mensagem><![CDATA[%s - Em média %d dia(s) úteis após a postagem]]></prazos_mensagem>
				<width>volume_largura</width>
				<height>volume_altura</height>
				<length>volume_comprimento</length>
				<weight>weight</weight>
				<prazo_extra>0</prazo_extra>
				<sort_order>1</sort_order>
				<writelog>0</writelog>
			</eloom_jadlog>
		</carriers>
	</default>
</config>