<?xml version="1.0" encoding="UTF-8"?>
<config>
	<sections>
		<carriers>
			<groups>
				<eloom_jadlog translate="label">
					<label>Jadlog - élOOm</label>
					<sort_order>2</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<fields>
						<active translate="label">
							<label>Enabled</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>1</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</active>
						<title translate="label">
							<label><![CDATA[Título]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>2</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>required-entry</validate>
						</title>
						<gm translate="label">
							<label><![CDATA[<strong>CONVÊNIO GetModal</strong>]]></label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</gm>
						<gm_key translate="label">
							<label><![CDATA[API Key]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>11</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>required-entry</validate>
						</gm_key>
						<gm_token translate="label">
							<label><![CDATA[API Token]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>12</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>required-entry</validate>
						</gm_token>
						<jl translate="label">
							<label><![CDATA[<strong>CONVÊNIO JadLog</strong>]]></label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>20</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</jl>
						<jl_user translate="label">
							<label><![CDATA[User]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>21</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>required-entry</validate>
						</jl_user>
						<jl_password translate="label">
							<label><![CDATA[Password]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>22</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>required-entry</validate>
						</jl_password>
						<jl_client translate="label">
							<label><![CDATA[Client Code]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>23</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>required-entry</validate>
						</jl_client>
						<jl_cnpj translate="label">
							<label><![CDATA[CNPJ]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>24</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
							<validate>required-entry</validate>
							<comment><![CDATA[Informe apenas os números.]]></comment>
						</jl_cnpj>
						<servicos translate="label">
							<label><![CDATA[<strong>SERVIÇOS</strong>]]></label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>30</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</servicos>
						<servico_codigo>
							<label><![CDATA[Serviços]]></label>
							<frontend_type>multiselect</frontend_type>
							<sort_order>31</sort_order>
							<source_model>Eloom_Jadlog_Model_System_Config_Source_Servicos</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>required-entry</validate>
							<comment><![CDATA[]]></comment>
						</servico_codigo>
						<servico_gratis translate="label">
							<label><![CDATA[Serviço com Entrega Gratuita]]></label>
							<frontend_type>select</frontend_type>
							<frontend_class>free-method</frontend_class>
							<source_model>Eloom_Jadlog_Model_System_Config_Source_ServicosFree</source_model>
							<sort_order>32</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[Este serviço funciona apenas quando têm Frete Grátis nas Regras de Promoção do Magento.]]></comment>
						</servico_gratis>

						<dimensoes translate="label">
							<label><![CDATA[<strong>MEDIDAS</strong>]]></label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>40</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</dimensoes>
						<dimensoes_altura translate="label">
							<label><![CDATA[Altura Padrão (cm)]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>41</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>required-entry validate-digits</validate>
							<comment><![CDATA[Na ausência de "Altura" no produto, assumirá o valor 2 cm.]]></comment>
						</dimensoes_altura>
						<dimensoes_largura translate="label">
							<label><![CDATA[Largura Padrão (cm)]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>42</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>required-entry validate-digits</validate>
							<comment><![CDATA[Na ausência de "Largura" no produto, assumirá o valor 11 cm.]]></comment>
						</dimensoes_largura>
						<dimensoes_comprimento translate="label">
							<label><![CDATA[Comprimento Padrão (cm)]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>43</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>required-entry validate-digits</validate>
							<comment><![CDATA[Na ausência de "Comprimento" no produto, assumirá o valor 16 cm.]]></comment>
						</dimensoes_comprimento>
						<prazos translate="label">
							<label><![CDATA[<strong>PRAZOS</strong>]]></label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>50</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</prazos>
						<prazos_entrega translate="label">
							<label><![CDATA[Exibir prazo de entrega]]></label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>51</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</prazos_entrega>
						<prazos_mensagem translate="label">
							<label><![CDATA[Mensagem exibida no prazo de entrega]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>52</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA["%s" para o nome do serviço. "%d" para o número de dias.]]></comment>
							<depends>
								<prazo_entrega>1</prazo_entrega>
							</depends>
						</prazos_mensagem>

						<taxas translate="label">
							<label><![CDATA[<strong>TAXAS</strong>]]></label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>60</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</taxas>
						<taxas_adicinal>
							<label><![CDATA[Usar Taxa Extra]]></label>
							<frontend_type>select</frontend_type>
							<source_model>Eloom_Jadlog_Model_System_Config_Source_TaxaExtra</source_model>
							<sort_order>61</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
						</taxas_adicinal>
						<taxas_opcao>
							<label><![CDATA[Valor/Percentual da Taxa Extra]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>62</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[Use o formato americano para valores. Ex.: 15.00, 32.35]]></comment>
						</taxas_opcao>

						<fields translate="label">
							<label><![CDATA[<strong>MAPEAMENTO DOS CAMPOS</strong>]]></label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>70</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</fields>
						<width>
							<label>Largura</label>
							<frontend_type>select</frontend_type>
							<source_model>Eloom_Jadlog_Model_System_Config_Source_Attributes</source_model>
							<sort_order>71</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</width>
						<height>
							<label>Altura</label>
							<frontend_type>select</frontend_type>
							<source_model>Eloom_Jadlog_Model_System_Config_Source_Attributes</source_model>
							<sort_order>72</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</height>
						<length>
							<label>Comprimento</label>
							<frontend_type>select</frontend_type>
							<source_model>Eloom_Jadlog_Model_System_Config_Source_Attributes</source_model>
							<sort_order>73</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</length>
						<weight>
							<label>Peso</label>
							<frontend_type>select</frontend_type>
							<source_model>Eloom_Jadlog_Model_System_Config_Source_Attributes</source_model>
							<sort_order>74</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>0</show_in_website>
							<show_in_store>0</show_in_store>
						</weight>

						<outros translate="label">
							<label><![CDATA[<strong>OUTROS</strong>]]></label>
							<frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
							<sort_order>80</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</outros>
						<prazo_extra>
							<label><![CDATA[Prazo Extra]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>81</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>required-entry validate-digits</validate>
							<comment><![CDATA[Prazo somado ao prazo da Jadlog, em dias.]]></comment>
						</prazo_extra>
						<showmethod translate="label">
							<label><![CDATA[Mostrar método mesmo se não aplicável]]></label>
							<frontend_type>select</frontend_type>
							<sort_order>82</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[Se houver um erro ou o método não for aplicável naquela situação, mesmo assim
                                mostrar as mensagens de erro?]]>
							</comment>
						</showmethod>
						<writelog translate="label">
							<label><![CDATA[Gravar resposta em log]]></label>
							<frontend_type>select</frontend_type>
							<sort_order>83</sort_order>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<comment><![CDATA[Arquivo está em {{base_dir}}/var/log/eloom-yyyy-mm-dd.log]]>
							</comment>
						</writelog>
						<sort_order>
							<label><![CDATA[Sort Order]]></label>
							<frontend_type>text</frontend_type>
							<sort_order>999</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>0</show_in_store>
							<validate>required-entry validate-digits</validate>
							<comment><![CDATA[Orderm de apresentação do Método de Frete.]]></comment>
						</sort_order>
					</fields>
				</eloom_jadlog>
			</groups>
		</carriers>
	</sections>
</config>